files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID6jCCAtICCQDn9Wx/f1z2ETANBgkqhkiG9w0BAQsFADCBtjELMAkGA1UEBhMC
      R0IxDzANBgNVBAgMBkxvbmRvbjEPMA0GA1UEBwwGTG9uZG9uMRcwFQYDVQQKDA5w
      aGlsbGlwZGVubmVzczFDMEEGA1UEAww6cGRlbm5lc3Mtc2ltcGxlLXNjcmFwZXIt
      YXBpLnVzLWVhc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEnMCUGCSqGSIb3DQEJ
      ARYYZGVubmVzc3BoaWxsaXBAZ21haWwuY29tMB4XDTE4MTEwNzE1NDg1N1oXDTE5
      MTEwNzE1NDg1N1owgbYxCzAJBgNVBAYTAkdCMQ8wDQYDVQQIDAZMb25kb24xDzAN
      BgNVBAcMBkxvbmRvbjEXMBUGA1UECgwOcGhpbGxpcGRlbm5lc3MxQzBBBgNVBAMM
      OnBkZW5uZXNzLXNpbXBsZS1zY3JhcGVyLWFwaS51cy1lYXN0LTEuZWxhc3RpY2Jl
      YW5zdGFsay5jb20xJzAlBgkqhkiG9w0BCQEWGGRlbm5lc3NwaGlsbGlwQGdtYWls
      LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMUDCH41ZNAkQXqU
      SNIQ/oq+engr+RYf1Boq9l1pJz5aEgu6uVSoKQDEm2SSxYrUqW05CqyCRqcLi0Ez
      nVgRkx/rsLLeXi1swBI0IFD6KOYhld9Br5jCNFcVlsIymB9RhbV4gVRItyEKn3Vm
      cMmpxsIru+SjO+QiU2e6uUsigEHaNvuHdqilfNECnLb5yH6/cBOMAcpQdmh+eql1
      HGOqA99G0OkM7XkibqUPcCxJIY1D+xurE5SptY2MsxBHgA1sM2INrmglgHAIVs2u
      8TXy83ArqbyanZFMgsSZhfA6ws3yj9Egewa8X+tvGYdOuME7hG2vQtwcth1Jbk/g
      zi9yUacCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEANNdsiAymGxXo3LlsCZ4Czx+Z
      vKIw/zMevqDLZJnmtfkynad08d4v6uVoFPstNMMIM8gVSL8b/nW6I7N5oDFAp+ZO
      4NReWCZeLZ41VRPqqyEtEpud4zJlAZvXGJsrSFv1M0SVx1ShcL+j/8M+x/7QOvLH
      EL9rLTErENvSXidMrUCk2s2qz+bFZcca2Qpa1EEY3rnq3YNDb7c49bbqI8tEBW8X
      Uh5IA8/9Rj0Ge1toPNJt5wHfht0t2H883khIKzdI8fErsuea8HdhHAm6ikhRISsc
      mP2iuDlw1P1XEKi6Wo5tI3094SJ1LhUNGSSmH8GutiIjksu+0LaARWN3BLpR0g==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAxQMIfjVk0CRBepRI0hD+ir56eCv5Fh/UGir2XWknPloSC7q5
      VKgpAMSbZJLFitSpbTkKrIJGpwuLQTOdWBGTH+uwst5eLWzAEjQgUPoo5iGV30Gv
      mMI0VxWWwjKYH1GFtXiBVEi3IQqfdWZwyanGwiu75KM75CJTZ7q5SyKAQdo2+4d2
      qKV80QKctvnIfr9wE4wBylB2aH56qXUcY6oD30bQ6QzteSJupQ9wLEkhjUP7G6sT
      lKm1jYyzEEeADWwzYg2uaCWAcAhWza7xNfLzcCupvJqdkUyCxJmF8DrCzfKP0SB7
      Brxf628Zh064wTuEba9C3By2HUluT+DOL3JRpwIDAQABAoIBAG4PV7tKENvGpV3Z
      YSUZoVnZN4nS5wBZH6DOx3s/t1C5+MLcuZR1rRJkw3rYE8uPKmd+KlxdGyNO66it
      MQV2K/71KG2ElJBD5LlGrZcPabHGqXdjtrlcJOlRgjtTEHDOlife/kEbrlKjIJnx
      dKj0U7k9vWXpWxgDpRyZz9INoCEoze+jUbEoSfdBVwy8VGfQ8M+EwiZoCmXGcXGp
      hFc3AnLsAHwnmkR48SsMKX9cQxtbrqj139FC86XbttzrC5eYdl3g5Ul+0ddX4J0/
      N4fuQ4y51JNt86iIm2bL+gAdhVSLi6QkrXC/xKgyTtPNHg6JEaRPJWM4U2TKaNRZ
      2bmZKMECgYEA/5ui3hfZ2RTv47nVS2ibs/AyDF+UFIurOB2ScKj68QPpN2qlCiFt
      eo69fomK5crxIEp9Vb153GuMMB/PFFPv+Q85eI7LHs3a/5X3q7qTctqxZraafW6j
      4bzk3CLUdhERW0viKZpMqQwyXY0d2lbfCZPmozlotUHP63b4LDZn8ykCgYEAxVBj
      rXuqQDI/NINl30GtiJ20Zg3Hl5s0QwVq+kLQO7TAVY5Y9rJU89Xl865IL+cjqDBT
      TGeLGsU0layTjBDxoLrETUUzXoqy+guN2AuYs9SCjzrmba0MHXfdmrLN8VIds2PR
      es7ET4bj97RL/Fg+U/3/fKE8nQ5kvy9euy09CE8CgYAHtPGcMKvo17DD9P5xX54S
      NtPLe7ZDSFLJRlr7+pxWV//YI+cF/ywF3ffosMz3UL8kchqFU0kxVCzN5qefvUgn
      AkaBVAzbyOkpe6QUEXQQqnde2XKfBY77Z26fFI3DYZBcaFVRW82j6zI5j9+ujZ/7
      8fGqSjjV/j3+o3+oFZvcwQKBgFHTVqLZB+97Zu62FwcQy5A+JlO0HzNl77RjiMuj
      7Yr1GFXipE4aAlTkPWpiuhjzd7wF3mVvAybk5Tu0x7NsS2fmTAXnTrhEOJitNfOE
      S5034bTYLjsJal7GGKZQxErxTNPZ70NIf+yi+eL9aA2L4r0eNldO3j4be/g1AsoI
      pqjNAoGBAKFZWiwM+p3sLmqTqUT1o3yolE05U0p1bBFYrEDKuTRhVihi4bCj78xt
      Q92ciwtmYqjLHrTw8FJukrWqEyUP/zLzrgLnV/xDM+jVFtMnZODhmmNT++Ge64pE
      WHtNRydN8qhB5gbCFItm0zlCasijoHAPjEw/UCaVUu00gvnn9suZ
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
